#root {
  width: 80%;
  margin: 50px 50px 50px 80px;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate !important;
  border-spacing: 0 8px;
  *border-collapse: expression('separate', cellSpacing='10px');
  font: 700 20px 'Roboto', sans-serif;
  text-align: center;
  line-height: 56px;
}

.heading {
  font: 700 48px 'Roboto', sans-serif;
  line-height: 56px;
  color: #074684;
}

.nba-table-header {
  background-color: #074684;
  color: white;
}

.nba-table-row {
  background-color: rgb(248,251,253);
}

.table-footer {
  display: flex;
  justify-content: flex-end;
}

.page-btn {
  color: white;
  background-color: #074684;
  width: 30px;
  height: 28px;
  border: none;
  border-radius: 5px;
  margin: 6px;

}

.page-btn:disabled {
  background-color: #18293d;
}

.searchbar {
  width: 50%;
  height: 60px;
  font-size: large;
  border-radius: 10px;
  border: #074684 2px solid;
  margin: 20px 0px 30px 0px;
  text-indent: 30px;
  background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-128.png');
  background-repeat: no-repeat;
  background-position: 6px 18px;
  background-size: 20px 20px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-Index: 1;
}

.info-panel {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  min-height: 100%;
  background-color: white;
  transition: 850ms;
  z-index: 2;
}

.info-panel.active{
  right: 0;
  transition: 500ms
}

.info-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(217,223,228);
  height: 80px;
  padding: 0px 30px;
}

.info-panel-x-btn {
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
}

.info-panel table {
  font: 200 20px 'Roboto', sans-serif;
  text-align: left;
  padding-left: 20px;
  line-height: 56px;
  border-radius: 5px;
  margin-top: 20px;
}

.info-panel-bold {
  font-weight: bold;
}